<div class="container text-center">
  <div class="jumbotron">
    <h1>Welcome to QualificationsViewer!</h1>
    <button class="btn btn-block"><%= link_to "Search Qualifications", qualifications_path%></button>
  </div>
</div>
